<!DOCTYPE html>

<html>

<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/script.js"></script>
    <title>@ViewBag.Title</title>
</head>

<header>
    <h1>@Html.ActionLink("Computer Wars", "Menu", "Game")</h1>
</header>

<body>
    <div class="wholePageDiv">
        @RenderBody()
    </div>
</body>

</html>