@model ComputerWars.Models.Player

@{
    ViewBag.Title = "Airport";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int nextDay = Model.CurrentDay + 1;
}

<div class="instructions">
    <p>When you travel to a different city, one day will pass, and the price rate for each part will change for that day.</p>

    @if (Model.CurrentDay == 30)
    {
        <p style="color: red;">This was your final day.</p>
    }

    <br />

    @if (Model.CurrentDay < 30)
    {
        using (Html.BeginForm("NextDay", "Game", FormMethod.Get))
        {
            <button>Proceed to Day @nextDay</button>
        }
    }
    else
    {
        <form action="/GameOver" method="get">
            <button id="endGame">END GAME</button>
        </form>
    }

    <br />
    @using (Html.BeginForm("Menu", "Game", FormMethod.Get))
    {
        <button>Return To Menu</button>
    }

</div>