@model ComputerWars.Models.Player

@{
    ViewBag.Title = "Casino";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="instructions">
    <p>Coming soon.....</p>
</div>

<div class="return">
    <p>@Html.ActionLink("Return To Main Menu", "Menu", "Game")</p>
</div>