@model ComputerWars.Models.Player

@{
    ViewBag.Title = "Game Over";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gameOver">
    <h2 style="text-decoration: underline">GAME OVER</h2>
    <p>You ended with $@Model.Money</p>
</div>



<div class="newGame">
    @using (Html.BeginForm("Index", "Game", FormMethod.Get))
    {
        <button>New Game</button>
    }
</div>