@model ComputerWars.Models.Player

@{
    ViewBag.Title = "Game Over";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gameOver">
    <h2 style="text-decoration: underline">GAME OVER</h2>
    <p>You ended with $@Model.Money</p>
</div>



<div class="newGame">
    <p>@Html.ActionLink("New Game", "Index", "Game")</p>
</div>