@using ComputerWars.Models
@model List<HighScore>

@{
    ViewBag.Title = "High Scores";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 1;
}

<h2>Top 20 Scores</h2>

<div class="scores">
    <table align="center">

        <thead>
            <tr>
                <td class="empty"></td>
                <td><div class="table">Name</div></td>
                <td><div class="table">Score</div></td>
            </tr>
        </thead>

        <tbody>

            @foreach (HighScore entry in Model)
            {
                <tr>
                    <td>
                        <div class="table">
                            #@count
                        </div>
                    </td>
                    <td class="entry">
                        <div class="table">
                            @entry.Name
                        </div>
                    </td>
                    <td class="entry">
                        <div class="table">
                            @entry.Score.ToString("C0")
                        </div>
                    </td>
                </tr>
                count++;
            }

        </tbody>

    </table>
</div>