@{
    ViewBag.Title = "Computer Wars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="instructions">
    <p>You have 30 days to travel between cities to buy and sell computer parts to accumulate as much money as you can.</p>
    <p>When you travel to a different city, one day will pass, and the price rate for each part will change for that day.</p>
</div>

@if (Session["player"] == null)
{
    <div class="begin">
        @using (Html.BeginForm("NewGame", "Game", FormMethod.Get))
        {
            <button>Start Game</button>
        }
    </div>
}
else
{
    <div class="begin">
        <p>You currently have a game in progress.</p>
        @using (Html.BeginForm("Menu", "Game", FormMethod.Get))
        {
            <button>Continue Game</button>
        }
    </div>
}

<div class="begin">
    @using (Html.BeginForm("HighScores", "Game", FormMethod.Get))
    {
        <button>View High Scores</button>
    }
</div>