@model ComputerWars.Models.Player

@{
    ViewBag.Title = "Computer Wars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="stats">
    <p><span class="item">Player:</span><span class="value"> @Model.Name</span></p>
    <p><span class="item">Current Day:</span><span class="value"> @Model.CurrentDay</span></p>
    <p><span class="item">Current Balance:</span><span class="value"> $@Model.Money</span></p>
</div>

<div class="options">
    @using (Html.BeginForm("Buy", "Game", FormMethod.Get))
    {
        <button>Buy Parts</button>
    }
    <br />
    @using (Html.BeginForm("Sell", "Game", FormMethod.Get))
    {
        <button>Sell Parts</button>
    }
    <br />
    @using (Html.BeginForm("Casino", "Game", FormMethod.Get))
    {
        <button>Casino</button>
    }
    <br />
    @using (Html.BeginForm("Airport", "Game", FormMethod.Get))
    {
        <button>Airport</button>
    }
</div>

<div class="endGame">
    @using (Html.BeginForm("GameOver", "Game", FormMethod.Get))
    {
        <button>END GAME</button>
    }
</div>

<div class="begin">
    @using (Html.BeginForm("HighScores", "Game", FormMethod.Get))
    {
        <button>View High Scores</button>
    }
</div>