@model ComputerWars.Models.Player

@{
    ViewBag.Title = "New Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="instructions">
    <p>Please enter your name to continue:</p>

    @using (Html.BeginForm("NewGame", "Game", FormMethod.Post, new { autocomplete = "off" }))
    {
        @Html.TextBoxFor(m => m.Name)
        <p>@Html.ValidationMessageFor(m => m.Name)</p>
        <button>Start Game</button>
    }
</div>