@model ComputerWars.Models.Player

@{
    ViewBag.Title = "Airport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="return">
    <p>@Html.ActionLink("Return To Main Menu", "Game", "Home")</p>
</div>