@model ComputerWars.Models.Player

@{
    ViewBag.Title = "Casino";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="endGame">
    <p>@Html.ActionLink("END GAME", "GameOver", "Home")</p>
</div>