@model ComputerWars.Models.Player

@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="stats">
    <p><span style="text-decoration: underline">Current Day:</span> @Model.CurrentDay</p>
    <p><span style="text-decoration: underline">Money Remaining:</span> $@Model.Money</p>
</div>