@{
    ViewBag.Title = "Computer Wars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="instructions">
    <p>You have 30 days to travel between cities to buy and sell computer parts to accumulate as much money as you can.</p>
    <p>When you travel to a different city, one day will pass, and the price rate for each part will change for that day.</p>
</div>

<div class="begin">
    @Html.ActionLink("Begin Game", "Game", "Home")
</div>